<h1><%= "All #{@cards.length} Cards" %></h1>
<%= link_to 'Add A Card', new_card_path %>

<% @cards.each_with_index do |card, index| %>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="" alt="image" style="width:300px;height:300px;">
        <p> <%= "#{index +1}/#{@cards.length}" %> </p>
        <h1> <%= card.question %> </h1>
      </div>
      <div class="flip-card-back">
        <h1> <%= card.answer %> </h1>
        <%= link_to "edit", edit_card_path(card.id) %>
        <%= link_to "delete", card_path(card.id), :method => :delete %>
      </div>
    </div>
  </div>
<% end %>
