<%= link_to "All Cards", deck_cards_path(params[:deck_id], @card.id) %>
<%= link_to "edit", edit_deck_card_path(params[:deck_id], @card.id) %>
<%= link_to "delete", deck_card_path(params[:deck_id], @card.id), :method => :delete %>


<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front" style="background-image: url(<%= FlikrFacade.new(@card.answer).word_image.flickr_url %>); background-size: 800px 800px;">
      <div class="card-text">
        <h1> <%= @card.question %> </h1>
      </div>
    </div>
    <div class="flip-card-back" style="background-image: url(<%= FlikrFacade.new(@card.answer).word_image.flickr_url %>); background-size: contain;">
      <div class="card-text">
        <h1> <%= @card.answer %> </h1>
      </div>
    </div>
  </div>
</div>
