<%= link_to "All Decks", decks_path %>
<%= link_to "edit", edit_deck_path(@deck.id) %>
<%= link_to "delete", deck_path(@deck.id), :method => :delete %>
<%= link_to "Add A Card", new_deck_card_path(@deck.id) %>


<div class="card">
  <div class="container">
    <h1><b><%= @deck.title %></b></h1>
    <h4><%= @deck.description %></h4>
    <%= link_to 'edit', edit_deck_path(@deck.id) %>
    <%= link_to 'delete', deck_path(@deck.id), :method => :delete %>
    <%= link_to 'Add A Card', new_deck_card_path(@deck.id) %>
    <%= link_to 'All Cards', deck_cards_path(@deck.id) %>
  </div>
</div>
